@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900');

* {
    font-family: 'Montserrat';
}

.navbar {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.navbar a {
    font-weight: 700;
}

.main-content {
    float: right;
    margin: 0;
    padding: 0;
}

.home h1, 
.about h1, 
.works h1, 
.contact h1 {
    font-weight: 800;
}

.home {
    height: 100vh;
    padding: 5%;
}

.about {
    height: 100vh;
    padding: 5%;
}

.works {
    height: 100vh;
    padding: 5%;
}

.contact {
    padding: 5%;
    height: 100vh;
}