@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900');

* {
    font-family: 'Montserrat';
}

.navbar {
    width: 16.6vw;
    height: 100vh;
    position: fixed;
}

.navbar a {
    font-weight: 700;
    text-align: center;
}

.img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 1px #8b8b8b solid;
    margin-bottom: 15%;
    padding: 6px;
}

.img-profile {
    width: 125px;
    height: 125px;
    border-radius: 100%;
}

.main-content {
    float: right;
    margin: 0;
    padding: 0;
}

.background-home {
    background: no-repeat url('../img/background.jpg');
    background-size: 1280px;
}

.home, 
.about, 
.works, 
.contact {
    height: 100vh;
    padding: 5%;
}

.home h1, 
.about h1, 
.works h1, 
.contact h1 {
    font-weight: 800;
}

.home {
    padding-top: 20%;
    padding-bottom: 20%;
}

.home h1 {
    font-size: 4em;
}

.title p {
    font-size: 1.2em;
}

.title p:last-child {
    margin-bottom: 3%;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
}

.social i {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.8em;
    margin-right: 2%;
    padding: 10px;
    background-color: #1a1a1ab6;
    color: #ffffff;
    border-radius: 100%;
}

.social i:hover {
    background-color: #ffffffb6;
    color: #1a1a1a;
}

.about h1,
.skills h3,
.competence h3 {
    margin-bottom: 3%;
}

.skills i {
    font-size: 2.5em;
    margin-right: 3%;
}

.projects li, 
.projects a {
    margin-bottom: 2%;
    color: #ffffff;
}

.projects a:hover,
.info a:hover {
    color: #8b8b8b;
}

.info a {
    color: #1a1a1a;
}

.space {
    margin-top: 3%;
}

.decoration-none a:link {
    text-decoration: none;
}

.footer p {
    text-align: center;
}

@media(min-width: 1920px) {
    .home {
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .home h1 {
        font-size: 5em;
    }
}